<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
        <add assembly="NLog.Targets.Loki" />
    </extensions>
    <targets>
        <target name="logconsole" xsi:type="Console" />
        <target name="loki"
                xsi:type="Loki"
                endpoint="http://loki.monitoring.svc.cluster.local:3100"
                layout="${message}">
            <label name="app" layout="search-engine" />
            <label name="level" layout="${level:lowercase=true}" />
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Info" writeTo="logconsole" />
        <logger name="*" minlevel="Info" writeTo="loki" />
    </rules>
</nlog>